.trim {
  color: #25f900;
}

.parent {
  display: flex;
}

.success {
  flex: 0 0 50%;
  color: white;
}

.error {
  flex: 1;
  color: red;
}

.terminal {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  margin: 0;
  overflow: hidden;
  padding: 10px;
  font: 1rem Inconsolata, monospace;
}

.terminal::selection {
  background: #0080ff;
  text-shadow: none;
}
